/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-cpt-projects-cpt {
	background-color: #21759b;
	color: #fff;
	padding: 1rem;

	h2 {
		margin-top: 1rem;
		margin-bottom: 1rem;
  	text-align: center;
  }
}

.projects__meta-wrapper {
	display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  padding: 1.4rem;

  .components-input-control {
  	flex: 1 0 calc(50% - 1rem);

  	label.components-input-control__label {
    	font-size: 16px;
    	color: #fff;
    }

    input.components-input-control__input {
    	font-size: 16px;
    }
  }
}

.richtext-component {
	.richtext-component__label {
		display: block;
		font-size: 16px;
		color: #fff;
		text-transform: uppercase;
	}

	.rich-text {
		display: block;
		width: 100%;
		margin-top: 6px;
		padding: 8px;
		background: var(--wp-components-color-background, #fff);
		font-size: 16px;
	}
}